ENVIRONMENT=your_environment_type:dev|prod
ORIGIN=your_client_url
TEST_DATABASE_URL=your_test_database_url
DATABASE_URL=your_database_url
REDIS_URL=your_redis_url
SECRET_KEY=some_super_long_random_secret_key
ALGORITHM=some_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=some_number_of_minutes
REFRESH_TOKEN_EXPIRE_DAYS=some_number_of_days